@import "parent";
@import "sidebar";

*{
    margin:0;
    padding:0;
}

body{
    overflow-y: hidden;
}

.app{
    position: absolute;
    inset: 0;
    border: 1px solid black;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

      
}